<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Our Application</title>
</head>
<body>
    <h1>The Online Planning Portal</h1>
    <!-- Button to navigate to /upload/ -->
    <a href="/upload/" style="display:inline-block; padding:10px; background-color:#007bff; color:white; text-decoration:none; border-radius:5px;">Upload Document</a>
    <a href="/toph_lawfirm/" style="display:inline-block; padding:10px; background-color:#007bff; color:white; text-decoration:none; border-radius:5px;">Law firm</a>
</body>
</html>
